#main__container {
  width: 95%;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
  color: #fff;
}

td {
  border: 1px solid #fff;
}

tr:nth-child(even) {
  background-color: #000;
}
